header {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
  margin: 0;
}

#title {
  padding-left: 40px;
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: #fff;
  text-decoration: none;


}

.logo span {
  color: #4FC2B6;
}


ul {
  list-style: none;
  font-weight: 700;
  padding-right: 40px;
  
}

ul li {
  display: inline-block;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}

ul li a{
  color: #fff;
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(./assets/background-maragogi.jpg);
  padding: 0;
  border: 0;
  margin: 0;
}

main {
  padding-left: 40px;
  line-height: 5px;
  padding-top: 20%;
}